<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="com.spring.autowiringbyType.SpringProject5.Car"
		id="car" autowire="byType">
	</bean>
	<bean class="com.spring.autowiringbyType.SpringProject5.Driver">
		<property name="id" value="1"></property>
		<property name="name" value="Ankit"></property>
		<property name="age" value="22"></property>
	</bean>
	
	<bean
		class="com.spring.autowiringbyType.SpringProject5.University" id="uni"
		autowire="byType">
	</bean>
	<bean class="com.spring.autowiringbyType.SpringProject5.Professor"
		>
		<property name="p_id" value="11"></property>
		<property name="name" value="Praveen"></property>
		<property name="subject" value="Math"></property>
	</bean>
	
</beans>